.view-sponsors-by-conference {
  .view-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;

    h2, h3 {
      display: none;
    }
    .views-row {
      width: auto;
      margin: .5rem;

      .views-field-field-sponsor-logo {
        a, img {
          display: block;
        }
      }
    }
  }

  header & {
    .view-content {
      justify-content: flex-start;
      align-items: stretch;

      .views-row {
        width: auto;
        margin: .5rem;

        .views-field-field-sponsor-logo {
          img {
            height: 30px;
            width: auto;
          }
        }
      }
    }
  }

  .layout-sponsor-section & {
    .view-content {
      justify-content: center;

      .views-field-field-sponsor-logo {
        text-align: center;
        padding: .5rem 1.5rem;
        width: 100%;

        display: flex;
        height: 100%;
        min-height: 100%;
        align-items: center;
        justify-content: center;

        a {
          padding: .5rem;
        }
        img {
          max-width: pxrem(160);
        }
      }
    }
  }
}

.layout-sponsor-section {
  border-top: 2px solid $color-grey;
  .block-views {
    padding: 2rem 0;

    >h2 {
      font-family: $font-primary;
      font-size: $font-medium;
      text-transform: uppercase;
    }
  }
  .views-element-container,
  .views-element-container.contextual-region {
    >h2 {
      font-family: $font-primary;
      font-size: $font-medium;
      text-transform: uppercase;
    }
  }
}

.all-sponsors-block,
.view-module-sponsors {
  display:block;
  text-align:center;

  .view-content {
    margin:auto;
    display:inline-block;
    max-width: 80%;
    width: 100%;
    //begin flex
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    //end flex
    h2, h3 {
      background-color: $color-blue;
      color: $color-white;
      width: 100%;
      text-align:center;
      display: block !important;
      float: left;
      clear: both;
    }
    h3:not(:first-of-type) {
      margin-top:1.5em;
    }
    .views-row {
      display: flex;
      flex-basis: 50%;
      flex-direction: column;
      margin: 0;
      padding: 1.25rem;
      @include breakpoint($size-medium){
        flex-basis: 33.3%;
      }
      @include breakpoint($size-normal){
        flex-basis: 25%;
      }
      .views-field-field-sponsor-logo {
        position: relative;
        &::before {
          padding-top: 48.5%;
          display: block;
          content: "";
          width: 100%;
        }
        a {
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
        }
        img {
          display: block;
          left: 0;
          margin: 0 auto;
          max-height: 80%;
          max-width: 80%;
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          width: auto;
        }
      }
      .views-field-field-cta-tag-line .field-content {
        background-color: #efefef;
        color: #717171;
        font-size: 0.9375em;
        font-weight: 600;
        line-height: 1.1;
        margin-bottom: .5em;
        margin-top: 1.5em;
        padding: .25em;
        text-transform: uppercase;
        &:empty {
          background-color: transparent;
          margin: 0;
          padding: 0;
          all: unset;
        }
        p {
          margin: 0;
        }
      }
    }
  }
  .view-footer {

    a, img{

    }
  }
}
