.page-node-type-page {
  .node__content>.field--name-body {
    border: 2px dashed #CCCCCC;
    padding: 1.5em !important;
    margin-top: 1rem;
    margin-bottom: 2rem;
    @include max-width(small);

    @include breakpoint($size-medium) {
      margin-top: 3rem;
      margin-bottom: 4rem;
    }
  }
}
