.node--type-news {
  
  // Full.
  &.node--view-mode-full {
    @include max-width(normal);
  }
  
  // Teaser.
  &.node--view-mode-teaser {
    align-items: flex-start;
    display: flex;
    .field--name-node-post-date {
      background-color: $color-blue-lighter;
      color: $color-white;
      font-family: $font-secondary;
      font-size: $font-medium;
      font-weight: 600;
      line-height: 1.1;
      margin-right: 1.5em;
      padding: .5em .75em .6em;
      text-align: center;
      text-transform: uppercase;
      span {
        display: block;
        &.day {
          font-size: 1.75em;
        }
        &.year {
          color: $color-blue;
          font-size: 0.9375em;
          font-weight: normal;
          margin-top: .15em;
        }
      }
    }
    h6 {
      margin-bottom: .25rem;
    }
    p:last-child {
      margin-bottom: 0;
    }
  }
}