.page-node-type-session {
  .main-wrapper {
    @include max-width;
    display: flex;
    flex-direction: column-reverse;
    @include breakpoint($size-medium) {
      flex-direction: row-reverse;
    }

    margin-bottom: 2rem;
    margin-top: 2rem;
    .layout-content {
      margin-right: 1rem;
      width: 100%;
      @include breakpoint($size-medium) {
        width: 66.6%;
      }
    }
    .layout-sidebar-first {
      background: url('../images/background/pattern/triangle-bottom.png') repeat no-repeat center bottom $color-white;
      border: 2px dashed #CCCCCC;
      padding: 2em;
      width: 100%;
      @include breakpoint($size-medium) {
        width: 33.3%;
      }
    }
    .view-drupalcon-session-sidebar {

      .views-field-field-track {
        .field--name-field-icon {
          float: left;
          margin-right: 1em;
        }
      }

      .view-content, .views-row {
        width: 100% !important;
      }
      .views-field {
        display: block !important;
        & + .views-field {
          margin-top: 1rem;
        }
        &.views-field-nothing {
          text-align: center;
        }
        &.views-field-nothing-1 {
          text-align: center;
        }
      }
      .views-label {
        color: $color-red;
        font-family: $font-secondary;
        font-size: $font-medium;
      }
      .field-content {
        display: block !important;
      }
    }
  }
  .field--name-field-speakers {
    background-color: $color-grey-xlight;
    font-size: $font-small;
    font-weight: 500;
    margin: 1rem 0.5rem 1rem 0.5rem;
    order: 1;
    padding: .25rem 1rem;
    p {
      margin: 0;
    }
    a.druplicon {

      &::before {
        content: url(../images/icons/EL_blue_RGB.svg);
        display: inline-block;
        width: 13px;
        margin-right: .25rem;
        margin-left: 1px;
        margin-top: 0px;
        position: relative;
        top: 2px;
      }
    }
  }

}
