.media--type-image {
  &.media--view-mode-background {
    @include flex(full);
    >.field--type-image {
      @include flex(full);
      .field__item {

      }
    }
  }

  &.align-center img {
    margin: 0 auto;
  }
}
