#drupalorg-crosssite-gdpr {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  right: 0;
  left: 0;

  background: $color-blue;
  box-shadow: 0 2px 2px 1px rgba(0, 0, 0, .2);
  color: $color-white;
  padding: 1em;
  text-align: center;
  z-index: 1000;

  a, a:visited, a:active {
    color: $color-white;
    font-weight: 500;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  button {
    margin-right: 10px;
    margin-top: 5px;
  }
}

#drupalorg-crosssite-gdpr-edit {
  background: $color-grey;
  padding: 1em;
}