#drupalorg-site-status {
  background: $color-red;
  color: $color-white;
  padding: .5em;
  text-align: center;
  position: relative;
  box-shadow: 0 2px 2px 1px rgba(68, 68, 68, .5);
  z-index: 1;
}

#drupalorg-site-status a {
  color: $color-white;
  text-decoration: underline;
}