form {
  label,
  .label {
    font-size: $font-small;
    font-weight: 700;
    line-height: 1rem;
    margin-bottom: 0.3rem;
    display: inline-block;

    &.visually-hidden {
      height: 0;
      clip: rect(0px, 0px, 0px, 0px);
    }
  }

  .description {
    text-align: left;
    @include breakpoint($size-medium) {
      text-align: right;
    }
    code {
      font-size: 1rem;
      line-height: 1rem;
      margin-bottom: 0.3rem;
      display: inline-block;
      font-family: Montserrat,sans-serif;
    }
  }

  input {
    @include input();
  }

  select {
    appearance: none;
    background-image: url('../images/icons/chevron-down.svg');
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) 50%;
    background-size: 1.5em;
    background-color: $color-white;
    border: 1px solid $color-grey;
    border-radius: $border-radius;
    font-size: $font-normal;
    font-weight: 400;
    color: $color-grey-xdark;
    padding: calc(1em - 1px);
    height: auto;
    width: 100%;
    max-width: 100%;

    >span {
      line-height: 1.15em;
    }

    &::-webkit-details-marker,
    >div {
      display: none;
    }

    &::placeholder {
      color: $color-grey;
    }

    &:focus {
      border-color: $color-black;
      outline: none;
      background-color: $color-white;

      &::placeholder {
        color: transparent;
      }
    }

    @include breakpoint($size-medium) {
      padding: calc(1em - 1px) calc(1.2em - 1px);
    }
  }

  textarea {
    border-radius: $border-radius;
    border-width: 3px;
    border-color: $color-grey-xlight;
    padding: 1em;

    @include breakpoint($size-medium) {
      padding: 1em 1.2em;
    }

    &:focus {
      border-color: transparent;
      outline: $color-grey-light dotted 2px;
      outline-offset: -2px;
      background-color: $color-white;
      &::placeholder {
        color: transparent;
      }
    }
  }
}

a#edit-un-login-returning-customer-forgot-password,
a.link--previous {
  color: $color-black;
  font-size: $font-small;
  font-weight: bold;
}

input#edit-un-login-returning-customer-submit + a#edit-un-login-returning-customer-forgot-password,
input#edit-actions-next + a {
  margin-left: 1rem;
}

button, input, optgroup, select, textarea {
  font-family: $font-primary;
}

.form--inline .form-item {
  float: none;
  margin-right: 0em;
  @include breakpoint($size-medium) {
    float: left;
    margin-right: 1em;
  }
}

.form-item, .form-actions {
  margin: 0 auto 1rem;
}

.bef-exposed-form .form--inline > .form-item,
.bef-exposed-form .form--inline .form-item {
  float: none;
  margin: 0;
}

.block-system-main-block {
  form {
    margin-bottom: 2rem;

    @include breakpoint($size-normal) {
      margin-bottom: 4rem;
    }

    div.password-strength,
    div.password-suggestions,
    div.password-confirm {
      font-size: $font-xsmall;
    }

    .confirm-parent,
    .password-parent {
      max-width: 100%;
    }

    fieldset {
      border-radius: $border-radius;
      border-width: 3px;
      border-color: $color-grey-xlight;
      padding: .35rem .5rem .625rem;

      &.fieldgroup {
        padding: .35rem .5rem .625rem;
      }

      +fieldset {
        margin-top: 2rem;

        &.form-wrapper__guest-checkout {
          margin-top: 0;
        }
      }

      >legend {
        >.fieldset-legend {
          line-height: 1.23em;
          margin: 0;
          font-size: $font-small;
          font-weight: 600;
          padding: 1rem;
          color: $color-grey;
          text-transform: uppercase;
        }
      }

      >.fieldset-wrapper {
        padding: 1rem;

        @include breakpoint($size-normal) {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-content: flex-start;
          align-items: flex-start;
        }

        .fieldset-wrapper {
          padding: 0;
        }

        >.form-wrapper>fieldset,
        >fieldset {
          border: 0;
          padding: 0;
        }

        .form-wrapper {
          >legend {
            >.fieldset-legend {
              display: block;
              letter-spacing: normal;
              color: $color-black;
              padding: 0;
              margin-bottom: 0.6rem;
              font-size: $font-small;
              font-weight: 700;
              text-transform: none;
            }
          }
        }

        .js-form-item {
          input {
            width: 100%;
          }
        }

        >.form-wrapper {
          width: 100%;

          &.webform-flexbox {
            margin-top: 0;
            margin-bottom: 0;

            +.webform-flexbox {
              margin-top: 1rem;
            }
          }

          &:empty {
            width: 0!important;
          }
        }
      }
    }

    .form-submit:not(.delete-order-item) {
      margin-top: 3rem;
    }

    .description {
      text-align: left;
      font-size: $font-normal;
      font-style: italic;
      margin-top: 2rem;
      line-height: 1.3;
    }

    &.user-login-form,
    &.user-register-form,
    &.user-pass {
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      align-content: center;
      @include max-width(xxsmall);

      .form-item {
        text-align: left;
        width: 100%;

        input {
          max-width: 100%;
          width: 100%;
        }

        +p {
          font-size: $font-xsmall;
          margin-top: 0.2rem;
        }
      }

      >.form-item {
        +.form-item {
          margin-top: 1rem;
        }

        label {
          display: block;
        }
      }

      >.form-wrapper {
        .form-item {
          +.form-item {
            margin-top: 1rem;
          }
        }
      }

      .description {
        font-size: $font-xsmall;
        margin-top: 0.2rem;
      }
    }
  }
}
