table {
  border: 1px solid $color-grey-light;
  text-align: left;
  width: 100%;

  thead {
    background: $color-grey-xxlight;

    th {
      padding: 0.75rem 1rem .5rem;
      @include title(h5);
      color: $color-grey-xdark;
      border: 1px solid $color-black-20;
      white-space: nowrap;
    }
  }

  tbody {
    font-size: $font-small;
    font-weight: 500;

    td {
      vertical-align: top;
      padding: 1rem;
      border: 1px solid $color-grey-light;
      line-height: 1.3;
    }
  }
}
