.path-webform {
  form {
    &.webform-submission-form {
      @include max-width();

      >.form-item {
        margin: 1em 0 2rem;

        >label {
          display: block;
        }
      }

      .form-actions, .form-item {
        margin-left: 0;

        &.form-item-education-level {
          margin: 1em 0 1rem;
        }
      }

      .form-item-vacancy-code {
        padding: .35em 1.75rem .625em;
        margin-bottom: 2rem;

        label {
          font-size: $font-normal;
        }
      }

      #edit-actions {
        text-align: center;
      }
    }
  }
}
