.block-conference-logo-block {
  display: flex;
  align-items: center;
  .field--name-field-conference-logo {
    img {
      width: pxrem(175);
    }
  }

  header & {
    &::before {
      background: url("../images/separator.png") no-repeat center center;
      background-size: contain;
      width: 26px;
      height: 76px;
      content: '';
      display: block;
    }
    .field--name-field-conference-logo {
      img {
        width: pxrem(100);
        @include breakpoint($size-normal) {
          width: pxrem(140);
        }
      }
    }
  }

}
