#block-drupalcon-account-menu {
  margin-right: 0;
  margin-left: auto;

  .menu {
    @include breakpoint($size-hamburger-menu) {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
      align-content: center;

      li {
        +li {
          margin-left: .5rem;
        }
      }
    }

    li {
      a {
        @include button(ghost, small);

      }
    }
  }
}
