#block-drupalcon-page-title {
  .page-node-type-page &,
  .page-node-type-news & {
    display: block;
    padding-top: 3rem;
  }

  .page-title {
    @include max-width;
    color: $color-red;
    font-family: $font-secondary;
    font-size: $font-xxlarge;
    font-weight: 600;
    line-height: 1.1;
    font-size: $font-xlarge;
    margin-bottom: 1em;
    margin-top: 0;
    text-align: center;
  }
}