.dcon-pane-hotels {
  border: 1px solid $color-grey-light;
  box-sizing: border-box;
  padding: 2em;
  text-align: center;

  .field-name-field-hotel-element > .field-items {
    margin: .5em 0;
    text-align: left;

    @include breakpoint($size-small) {
      display: flex;
      margin: 1em 0;
    }

    & > .field-item {
      flex: 1;
      padding: .5em 1em;
      & > * {
        width: 100%;
      }
      & + .field-item {
        border-top: 1px solid $color-grey-xlight;
        @include breakpoint($size-small) {
          border-left: 1px solid $color-grey-xlight;
          border-top: 0;
        }
      }
    }

    .field-name-field-title {
      font-size: $font-medium;
      font-weight: 600;
      strong {
        font-weight: 600;
      }
    }

    .field-name-field-number {
      color: $color-blue;
      font-weight: 600;
    }
  }

  .field-name-field-link a {
    @include button(secondary);
    text-transform: uppercase;
  }

  .fieldable-panels-pane > .field-name-field-subtitle {
    color: $color-blue;
    font-weight: 600;
  }
}
