.ds-2col-stacked-fluid {
  > .group-left,
  > .group-right {
    @include breakpoint(0, $size-medium) {
      clear: both;
      margin-top: 1rem;
      margin-bottom: 1rem;
      width: 100% !important;
    }
  }

  > .group-left {
    width: 50%;
    margin-left: 0%;
    @include breakpoint($size-small) {

    }
    @include breakpoint($size-medium) {
      margin-left: 15%;
    }
  }

  > .group-right {
    display: flex;
    width: 15%;
    text-align: center;
    align-content: center;
    align-items: center;
    @include breakpoint($size-small){
      margin-right: 15%;
    }
    @include breakpoint($size-medium) {

    }

    .field--name-field-paragraphs-right, .field--name-field-block {
      width: 100%;
    }

    .block-dfp {
      @include breakpoint($size-medium) {
        padding-top: 5rem;
        margin-bottom: 1rem;
        width: 100%;
      }
      padding-top: 1rem;
      width: 100%;
      padding-left: 0%;

      &::before {
        text-align: center;
        content: 'From our sponsors:';
      }
    }
  }
}
