.layout-container {

  .layout-sponsor-section {
    border-top: 2px solid $color-grey;
    padding-top: 2rem;
    margin-top: 2rem;
    .region-sponsor-section {
      @include max-width(large);
    }
  }
  
  .layout-conference-footer {
    background: url(../images/background/pattern/triangle-top.png) repeat no-repeat center 0;
    .region-conference-footer {
      @include max-width(normal);
      padding: 2em 0;
      @include breakpoint($size-normal) {
        display: flex;
      }
    }
    .block-conference-logo-block {
      margin: 1em 2em 1em 0;
    }
    .block-conference-menu-block {
      flex-grow: 1;
      > .menu {
        @include breakpoint($size-medium) {
          display: flex;
          flex-wrap: wrap;
        }
        > li {
          list-style: none;
          flex: 1 1 12em;
          padding: 1em .5em;
          > a {
            color: #09547A;
            font-family: $font-secondary;
            font-size: $font-medium;
            font-weight: 600;
            text-transform: uppercase;
          }
          ul {
            margin: 0;
            padding: 0;
            a {
              color: $color-grey-xdark;
            }
          }
        }
      }
    }
  }
  
}