.paragraph--type-video {
  @include default-margins;
  
  .field--name-field-title {
    @include pane-title;
    & + .field--name-field-subtitle {
      margin-top: 0;
    }
  }
  .field--name-field-subtitle {
    @include pane-subtitle;
  }
  
  .group-header {
    @include max-width;
    text-align: center;
  }
  .group-content {
    margin-top: 2rem;
    iframe {
      width: 100%;
    }
  }
  
  // Video sizes.
  &.video-size-medium .group-content {
    @include max-width;
  }
  &.video-size-small .group-content {
    @include max-width(xsmall);
  }
  
  // Video frame ratio.
  .field--name-field-media-oembed-video {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; 
  }
  .media-oembed-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}
