.paragraph--type--infographic {
  text-align: center;
  .field--name-field-items {
    margin-top: 2rem;
    line-height: 1.1;
    @include max-width();
    @include breakpoint($size-small) {
      display: flex;
      justify-content: center;
      margin-top: 5rem;
    }

    & > .field__item {
      flex: 1;
      max-width: 15em;
      margin: 0 auto;
      padding: 2em 1em;
      position: relative;

      .field-collection-view {
        position: relative;
      }

      &::before {
        content: '';
        display: block;
        width: 15em;
        height: 15em;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        background: no-repeat center center transparent;
      }

      &:nth-child(1)::before {
        background-image: url("../images/background/triangle01.svg");
      }
      &:nth-child(2)::before {
        background-image: url("../images/background/triangle02.svg");
      }
      &:nth-child(3)::before {
        background-image: url("../images/background/triangle03.svg");
      }
    }
  }
}

.paragraph--type--infographic-item {
  position: relative;

  .field--name-field-number {
    color: $color-blue;
    font-size: $font-xxlarge;
    font-weight: 900;
  }

  .field--name-field-subtitle {
    font-family: $font-secondary;
    font-size: $font-discrete;
    @include breakpoint($size-medium) {
      font-size: $font-large;
    }
  }
}
