.paragraph--type--testimonials {
  @include max-width(xxsmall);
  @include default-margins;

  .field--name-field-featured-image {
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
    .media {
      max-width: 10rem;
      border-radius: 50%;
      overflow: hidden;
      position: relative;
      margin: 0 -2rem;
    }
    &::after,
    &::before {
      content: '';
      display: block;
      position: relative;
      z-index: 1;
    }
    &::after {
      background: url('../images/background/testimonial-right.svg') no-repeat center center;
      height: 146px;
      margin-top: auto;
      width: 128px;
    }
    &::before {
      background: url('../images/background/testimonial-left.svg') no-repeat center center;
      height: 135px;
      width: 137px;
    }
  }
  .field--name-node-title {
    color: $color-blue;
    font-family: $font-secondary;
    font-size: $font-medium;
    font-weight: 700;
    text-align: center;
  }
  .field--name-field-subtitle {
    color: $color-blue;
    font-size: $font-medium;
    text-align: center;
  }
  .field--name-body {
    margin: 2rem 0;
  }

}