.paragraph--type-image-with-text {
  position: relative;

  > * {
    position: relative;
    z-index: 1;
  }

  &::after {
    background: url('../images/background/pattern/triangle-block-left.svg') no-repeat right center;
    background-size: auto 20rem;
    bottom: 0;
    content: '';
    display: block;
    left: 0;
    opacity: .4;
    position: absolute;
    right: auto;
    top: 0;
    width: 100%;
    z-index: 0;
  }

  &.text-alignment-bottom,
  &.text-alignment-top {
    @include max-width(xxsmall);
  }

  &.text-alignment-top {
    display: flex;
    flex-direction: column-reverse;
    &::after {
      background: url('../images/background/pattern/triangle-block-bottom.svg') no-repeat left top;
      background-size: auto 20rem;
    }

    .field--name-field-image {
      margin-top: 1rem;
    }
  }

  &.text-alignment-bottom {
    &::after {
      background: url('../images/background/pattern/triangle-block-bottom.svg') no-repeat left bottom;
      background-size: auto 20rem;
    }

    .field--name-field-image {
      margin-bottom: 1rem;
    }
  }

  &.text-alignment-right,
  &.text-alignment-left {
    @include max-width();

    @include breakpoint($size-normal) {
      align-items: center;
      display: flex;
      justify-content: flex-start;

      &:after {
        width: 50%;
      }

      >* {
        width: 50%;
      }
    }
  }

  @include breakpoint($size-medium) {
    &.text-alignment-left {
      flex-direction: row-reverse;
      .group-text {
        padding-right: 4rem;
      }
    }

    &.text-alignment-right {
      &::after {
        background: url('../images/background/pattern/triangle-block-bottom.svg') no-repeat right center;
        background-size: auto 20rem;
        left: auto;
        right: 0;
      }
      .group-text {
        padding-left: 4rem;
      }
    }
  }

  .field--name-field-image {
    text-align: center;
  }
  .field--name-field-cta {
    margin-top: 0;
    a {
      @include button(secondary);
    }
  }

  // Background.
  &[class*="style-bg"] {
    background: url('../images/background/pattern/triangle-top.png') repeat no-repeat 0 top $color-grey-xxlight;
    &::after {
      display: none;
    }
    .group-text {
      padding: 3rem !important;
    }
  }
  &.style-bg-dark {
    background-color: $color-blue-light;
    color: $color-white;
    .field--name-field-title {
      color: $color-white;
    }
    .field--name-field-cta {
      a {
        @include button(white);
      }
    }
  }

}
