.paragraph--type-text {
  @include default-margins;

  &[class*="style-bg"] {
    @include full-width;
    background: url('../images/background/pattern/triangle-top.png') repeat no-repeat 0 top $color-grey-xxlight;
    padding: 2em 1.5em;
    text-align: center;
  }

  &.style-bg-dark {
    background-color: $color-blue-light;
    color: $color-white;
    .field--name-field-title {
      color: $color-white;
    }
    .field--name-field-text {
      a {
        color: $color-white;
        font-weight: 600;
      }
    }
    .field--name-field-cta {
      a {
        @include button(white);
      }
    }
  }

  & > .group-content {
    @include max-width;
  }

  .field--name-field-content {
    margin: 1.5em 0;
  }

  .field--name-field-cta {
    margin-top: 1rem;
    a {
      @include button(secondary);
    }
  }
}
