.paragraph--type--promo-block {
  text-align: center;
  @include max-width(small);
  margin-top: 3rem;

  .field--name-field-title {
    background-color: $color-white;
    font-size: $font-discrete;
    display: inline-block;
    margin: 0 .75em;
    padding: 0 1em;
    position: relative;
    z-index: 1;

    & + .group-content {
      margin-top: -1.25em;
    }

    @include breakpoint($size-medium) {
      font-size: $font-large;
    }
  }

  .group-content {
    background: url('../images/background/pattern/triangle-bottom.png') repeat no-repeat center -1em transparent;
    border: 2px dashed $color-grey-light;
    padding: 2em 1.5em;
    position: relative;

    @include breakpoint($size-small) {
      padding: 3em 2.5em 4em;
      display: flex;
      justify-content: space-between;
      text-align: left;
    }

    &::after {
      background: url('../images/background/pattern/colored-line.jpg') repeat no-repeat 0 0 $color-grey-xxlight;
      bottom: 0;
      content: '';
      height: .75em;
      left: 0;
      position: absolute;
      width: 100%;
    }
  }

  .field-name-field-subtitle {
    color: $color-blue;
    font-size: $font-medium;
    font-weight: 600;
  }

  .field--name-field-text {
    flex-grow: 1;
    padding-right: 2em;

    p:last-child {
      margin-bottom: 0;
    }
  }

  .field--name-field-cta {
    padding: 0 1em;
    margin: 0;
    width: auto;
    flex-shrink: 0;
    display: flex;
    align-items: center;

    a {
      @include button();
      text-transform: uppercase;
    }
  }
}
