.paragraph--type--tickets {
  @include default-margins;
  @include max-width;
  
  .field--name-field-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .field__item {
      margin: .5em;
    }
  }

  // Ticket.
  .paragraph--type-ticket-item {
    background: url('../images/background/pattern/ticket-bg.svg') no-repeat center center $color-ticket-blue;
    color: $color-white;
    display: flex;
    flex-direction: column;
    height: 100%;
    line-height: 1.3;
    margin: 0 -1px;
    max-width: 170px;
    text-align: center;
    &::before {
      background: url('../images/background/ticket-top.svg') no-repeat center center;
      background-size: cover;
      content: '';
      display: block;
      height: 30px;
      width: 180px;
      margin: -5px;
      position: relative;
      visibility: initial;
      z-index: 1;
    }
    &::after {
      background: url('../images/background/ticket-bottom.svg') no-repeat center center;
      background-size: cover;
      border-top: 2px dashed $color-white;
      content: '';
      display: block;
      margin: -5px;
      height: 30px;
      width: 180px;
      position: relative;
      visibility: initial;
      z-index: 1;
    }
    .group-content {
      border: 1px solid rgba($color-white, .5);
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      justify-content: center;
      margin: 1em;
      padding: 2em 1em;
      width: auto;
    }
    .field--name-field-title {
      color: $color-white;
      font-family: $font-primary;
      font-size: $font-medium;
      font-weight: 500;
      margin: .25rem 0;
      text-transform: uppercase;
    }
    .field--name-field-subtitle {
      font-size: $font-small;
      font-style: italic;
      margin-bottom: 1em;
      margin-top: 1em;
    }
    .field--name-field-number {
      font-weight: 500;
      line-height: 1.2;
      text-transform: uppercase;
      span {
        display: block;
        font-size: $font-large;
      }
    }
    // Color variants.
    &.color-green {
      background-color: $color-ticket-green;
    }
    &.color-pink {
      background-color: $color-ticket-pink;
    }
    &.color-purple {
      background-color: $color-ticket-purple;
    }
  }

}