.paragraph--type--grid-block-sponsors {
  >.field--name-field-title {
    background: url('../images/background/pattern/triangle-bottom.png') repeat no-repeat 0 bottom $color-blue-light;
    color: $color-white;
    font-size: $font-discrete;
    font-family: $font-primary;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 1em;
    padding: .25em 1em;
    text-align: center;
    width: 100%;
  }

  >.field--name-field-items {
    @include max-width;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    & > .field__item {
      width: 100%;
      padding: 1em;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .field--name-field-title {
      color: $color-grey-light;
      font-size: $font-small;
      margin-bottom: .5rem;
      margin-top: .25rem;
    }
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
      transition: opacity .25s ease-in-out;
      position: relative;
    }
  }
}

.paragraph--type--sponsor-row > .field--name-field-items{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.paragraph--type-sponsor-sized-item {
  padding: 1em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  // Logo sizes.
  &.size-tiny {
    img {
      width: 100px;
      max-width: 100px;
      max-height: 100px;
    }
  }
  &.size-small {
    img {
      width: 150px;
      max-width: 150px;
      max-height: 150px;
    }
  }
  &.size-medium {
    img {
      width: 200px;
      max-width: 200px;
      max-height: 200px;
    }
  }
  &.size-large {
    img {
      width: 250px;
      max-width: 250px;
      max-height: 250px;
    }
  }
  &.size-big {
    img {
      width: 300px;
      max-width: 300px;
      max-height: 300px;
    }
  }
}
