.paragraph--type--hero-frontpage {
  text-align: center;
  
  @include breakpoint($size-medium) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
  
  .field--name-field-first-image { grid-area: 1 / 1 / 2 / 2; }
  .field--name-field-second-image { grid-area: 2 / 1 / 3 / 2; }
  .header-wrapper { grid-area: 1 / 2 / 2 / 4; }
  .field--name-field-third-image { grid-area: 2 / 2 / 3 / 4; }
  .field--name-field-fourth-image { grid-area: 1 / 4 / 3 / 5; }
  
  .header-wrapper {
    padding: 1rem 2rem;
    
    .field--name-field-title {
      @include title(h2);
    }
    
    .field--name-field-logo {
      img {
        display: inline-block;
        margin: 0 auto 1rem;
        max-height: 100px;
      }
    }
    
    @include breakpoint($size-normal) {
      padding: 2rem 4rem;
    }
  }
  
  .field--name-field-first-image,
  .field--name-field-second-image,
  .field--name-field-third-image,
  .field--name-field-fourth-image {
    @include flex(full);
    >.field__item {
      @include flex(full);
    }
  }
  
  // Small size.
  @include breakpoint(0, $size-medium) {
    .field--name-field-logo,
    .field--name-field-first-image,
    .field--name-field-second-image,
    .field--name-field-fourth-image {
      display: none;
    }
    .field--name-field-third-image {
      height: 45vh;
      width: 100%;
    }
  }
}
