.paragraph--type--custom-table {
  @include max-width(small);
  .field--name-field-items {
    .field__item {
      &:last-child {
        .paragraph--type--table-item {border: 0;}
      }
    }
  }
}

.paragraph--type--table-item {
  margin-bottom: 1rem;

  .field--name-field-title {
    font-family: $font-primary;
    font-size: $font-normal;
    font-weight: 500;
    text-transform: uppercase;
  }

  @include breakpoint($size-medium) {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid $color-grey;

    .field--name-field-title {
      width: 35%;
      text-align: right;
    }
    .field--name-field-text {
      width: 75%;
      padding-left: 3rem;
    }
  }
}
