.paragraph--type--audience {
  @include max-width(null);
  background: url('../images/background/pattern/triangle-bottom.png') repeat no-repeat 0 bottom $color-blue-dark;
  color: $color-white;
  margin-bottom: 3rem;
  margin-top: 3rem;
  padding: 2em;

  @include breakpoint($size-medium) {
    padding: 0 2em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
  }

  .group-wrapper {
    padding: 2rem 0;
    @include breakpoint($size-medium) {
      width: 25%;
      padding: 4rem 0;
      padding-right: 2rem;
    }

    >.field--name-field-title {
      color: $color-white;
      font-size: $font-medium;
      font-weight: 600;
      margin-bottom: 1rem;
      margin-top: 0;
      @include breakpoint($size-large) {
        font-size: $font-discrete;
      }
    }
  }

  .field--name-field-items {
    height: 100%;

    @include breakpoint($size-medium) {
      display: flex;
      flex-wrap: wrap;
      height: auto;
      margin-top: -2rem;
      margin-bottom: -2rem;
      width: 75%;
    }

    >.field__item {
      min-height: 100%;
      margin-bottom: 1rem;

      @include breakpoint($size-medium) {
        padding: .5rem;
        width: 33.3332%;
        margin-bottom: 0;
        flex-grow: 1;
      }
    }
  }
  .paragraph--type-audience-item {
    background: $color-grey;

    &.color-pink {
      background-color: $color-audience-pink;
    }
    &.color-purple {
      background-color: $color-audience-purple;
    }
    &.color-green {
      background-color: $color-audience-green;
    }
    &.color-blue {
      background-color: $color-audience-blue;
    }
  }

  .paragraph--type-audience-item, .paragraph--type-audience-item .group-link {
    border-radius: .5rem;
    box-shadow: 0 0 1rem rgba($color-black, .5);
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;

    @include breakpoint($size-normal) {
      text-align: center;
      align-items: center;
    }

    .field--name-field-icon {
      padding: 1rem;
      img {
        width: 140px;
        max-width: 140px;
        max-height: 120px;
      }
      @include breakpoint($size-normal) {
        padding: 1.5rem;
        img {
          margin-left: auto;
          margin-right: auto;
        }
      }
    }

    .field--name-field-title {
      color: $color-white;
      font-family: $font-secondary;
      font-size: $font-medium;
      font-weight: 600;
      line-height: 1.3;
      padding: 0 1rem;
      @include breakpoint($size-normal) {
        padding: 0 1.5rem;
      }
      @include breakpoint($size-large) {
        font-size: $font-discrete;
      }
    }

    .field--name-field-text {
      margin-top: .5rem;
      margin-bottom: 1rem;
      padding: 0 1rem;
      @include breakpoint($size-normal) {
        padding: 0 1.5rem;
        margin-bottom: 1.5rem;
      }
    }

    .group-link {
      @include breakpoint($size-normal) {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
      }
    }
  }
}
