.paragraph--type--grid-blocks {
  >.field--name-field-items {
    @include max-width(normal);
    @include breakpoint($size-medium) {
      display: flex;
      justify-content: center;
      align-items: stretch;
      align-content: stretch;
      margin-top: 1em;
    }

    >.field__item {
      flex-basis: 50%;
      padding: .5em;
      @include flex(full);
    }
  }
}

.paragraph--type--grid-block-item {
  @include flex(full);
  flex-direction: column;

  .group-text {
    text-align: center;
    background-color: $color-grey-xxlight;
    padding: 1em;
    flex-grow: 1;

    .field--name-field-title {
      font-family: $font-primary;
      font-weight: 300;
      font-size: $font-medium;
      margin-bottom: .5em;

      @include breakpoint($size-normal) {
        font-size: $font-large;
      }
    }

    .field--name-field-subtitle {
      line-height: 1.4;
      color: $color-red;
    }

    .field--name-field-cta {
      margin-top: 1.5rem;
      margin-bottom: 1rem;
      width: 100%;

      a {
        @include button(secondary);
      }
    }
  }
}
