.paragraph--type--grid-blocks-advanced {
  @include default-margins;
  @include max-width;
  text-align: center;
  .field-name-field-title h2 {
    color: $color-grey;
    font-size: $font-discrete;
    margin: 0;
    @include breakpoint($size-medium) {
      font-size: $font-xxlarge;
    }
  }
  .field--name-field-items {
    @include breakpoint($size-medium) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 1em;
    }

    & > .field__item {
      flex-basis: 50%;
      margin-left: auto;
      margin-right: auto;
      max-width: 540px;
      padding: .5em;
      @include breakpoint($size-normal) {
        flex-basis: 33.3%;
        max-width: 100%;
        margin: 0;
      }
    }

    .group-content {
      background-color: $color-grey-xxlight;
      padding: 1.5em 1.5em 2em;
      >* + * {
        margin-top: .3em;
      }

      @include breakpoint($size-medium) {
        padding: 2.2em 2.2em 3em;
      }
    }
  }
}

.paragraph--type-grid-block-advanced-item,
.paragraph--type-grid-block-advanced-item .group-content {
  &.image-style-rectangle {
    .field--name-field-image {
      background-color: $color-white;
      position: relative;
      &::before {
        background: url('../images/background/pattern/triangle-top.png') repeat no-repeat 25% top;
        content: '';
        display: block;
        opacity: .75;
        padding-top: 69.5%;
        width: 100%;
      }
      img {
        left: 0;
        margin: 0 auto;
        max-height: 100%;
        max-width: 100%;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: auto;
      }
    }
  }

  &.image-style-hexagon {
    .field--name-field-image {
      clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
      max-width: 80%;
      margin: 0 auto;
      & + .group-content {
        margin-top: -2.25em;
        padding-top: 3.4em;
      }
    }
  }

  >.field--name-field-title {
    color: $color-blue;
    font-family: $font-secondary;
    font-size: $font-discrete;
    font-weight: 600;
    line-height: 1.3;
  }

  >.field--name-field-subtitle {
    color: $color-red;
    font-size: $font-normal;
    font-weight: 600;
    line-height: 1.3;
    margin-bottom: 0.7rem;
  }

  >.field--name-field-description {
    font-size: $font-small;
  }

  .field--name-field-social {
    font-size: $font-small;

    .field__item {
      display: inline-block;
      margin: .25em .5rem;
    }

    a {
      font-weight: 400;
      color: $color-grey-xdark;
      display: flex;
      align-items: center;

      &:hover {
        color: $color-blue;
      }

      &::before {
        content: '';
        display: inline-block;
        margin-right: .25rem;
        vertical-align: bottom;
        width: 18px;
        height: 18px;
        background: url("../images/icons/social-small-share.svg") no-repeat center center;
        background-size: 18px;
      }

      &[href*="twitter"]::before {
        background-image: url("../images/icons/social-small-twitter.svg");
      }

      &[href*="linkedin"]::before {
        background-image: url("../images/icons/social-small-linkedin.svg");
      }

      &[href*="drupal"]::before {
        background-image: url("../images/icons/social-small-drupal.svg");
        width: 50px;
        background-size: 45px;
      }
    }
  }

  >.field--name-field-cta a {
    @include button(secondary);
  }
}
