main {
  .paragraph--type-hero-conference {
    box-sizing: border-box;
    color: $color-white;
    max-height: 800px;
    min-height: 450px;
    overflow: hidden;
    position: relative;

    @include breakpoint($size-medium) {
      align-items: flex-end;
      display: flex;
    }

    @include breakpoint($size-normal) {
      height: 80vh;
      min-height: 40rem;
    }

    .field--name-field-cover {
      height: 35vh;
      @include flex(full);

      .field__item {
        @include flex(full);
      }

      @include breakpoint($size-small) {
        height: 50vh;
      }

      @include breakpoint($size-medium) {
        bottom: 0;
        height: 100%;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
      }

      .media--type-image {
        &.media--view-mode-background {
          >.field--type-image {
            .field__item {
              &:before {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background: rgb(0,0,0);
                background: linear-gradient(17deg, rgba(0,0,0,0.5956976540616247) 0%, rgba(0,0,0,0) 70%);
              }
            }
          }
        }
      }
    }

    .group-content {
      background-color: $color-blue;
      line-height: 1.3;
      padding: 1.5rem;
      position: relative;
      text-align: left;
      text-shadow: 0 2px 2px rgba($color-black, .5);
      z-index: 3;

      @include breakpoint($size-medium) {
        @include max-width(large);
        background-color: transparent;
        padding: 4rem 0;
      }
    }

    .field--name-field-title {
      color: $color-white;
      font-family: $font-secondary;
      font-size: $font-discrete;
      margin: 0 0 .1em;
      position: relative;

      @include breakpoint($size-normal) {
        font-size: $font-xlarge;
      }

      .field__item {
        display: none;
      }

      &:before {
        content: '';
        display: block;
        width: 265px;
        height: 60px;
        margin-left: -5px;
        background: url("../images/logo/drupalcon.svg") no-repeat top left;

        @include breakpoint($size-normal) {
          width: 350px;
          height: 80px;
        }
      }
    }

    .field--name-field-subtitle {
      font-size: $font-discrete;
      text-transform: uppercase;
      margin: 0 0 .25em;
      position: relative;
      @include breakpoint($size-normal) {
        font-size: $font-xlarge;
      }
    }

    .field--name-field-conference-date {
      font-size: $font-medium;
      text-transform: uppercase;
      @include breakpoint($size-normal) {
        font-size: $font-discrete;
      }
    }

    .field-name-field-link a {
      @include button($color-red);
    }
  }

}
