@mixin breakpoint($lower, $upper: '') {

  @if $upper != '' {
    @media (min-width: $lower) and (max-width: ($upper - 1)) {
      @content;
    }
  }
  @else {
    @media (min-width: $lower) {
      @content;
    }
  }

}


@mixin breakpoint-custom($media) {
  @media #{$media} {
    @content;
  }
}